// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.app-task-list__section {
  display: table;
}

.app-task-list__section-number {
  display: table-cell;
}

.app-task-list__items {
  list-style: none;
  padding-left: 0;
}

.app-task-list__item {
  border-bottom: 1px solid #999;
  margin-bottom: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-task-list__item:first-child {
  border-top: 1px solid #999;
}

.app-task-list__task-name {
  display: block;
}

.app-task-list__task-name {
  float: left;
  width: 75%;
}

.app-task-list__task-completed {
  margin-top: 20px;
  margin-bottom: 10px;
}
